$color-gray-shade-1: #FCFBFC;
$color-gray-shade-2: #F2F3F7;
$color-gray-shade-3: #EFEFEF;
$color-gray-shade-4: #777777;

$color-green: #66CE7D;
$color-purple: #7D72C3;
$color-cyan: #7BD3CE;
$color-orange: #F7AC3D;
$color-red: #FF727B;
$color-blue: #7292FF;
$color-black: #61646C;

$radius-card: 1.5rem;
$radius: 1rem;
$radius-xs: .5rem;

$gap-xs: 2rem;
$gap-sm: 3rem;