@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: $themeColor; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

@charset "UTF-8";
@font-face {
  font-family: 'Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Semibold';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?11027404");
  src: url("../font/fontello.eot?11027404#iefix") format("embedded-opentype"), url("../font/fontello.woff2?11027404") format("woff2"), url("../font/fontello.woff?11027404") format("woff"), url("../font/fontello.ttf?11027404") format("truetype"), url("../font/fontello.svg?11027404#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?11027404#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-help-circled-alt:before {
  content: '\e800'; }

/* '' */
.icon-mobile:before {
  content: '\e801'; }

/* '' */
.icon-heart-empty:before {
  content: '\e802'; }

/* '' */
.icon-money:before {
  content: '\e803'; }

/* '' */
.icon-home:before {
  content: '\e804'; }

/* '' */
.icon-home-outline:before {
  content: '\e805'; }

/* '' */
.icon-credit-card:before {
  content: '\e806'; }

/* '' */
.icon-exchange:before {
  content: '\e807'; }

/* '' */
.icon-comment:before {
  content: '\e808'; }

/* '' */
.icon-plus:before {
  content: '\e809'; }

/* '' */
.icon-police:before {
  content: '\e82b'; }

/* '' */
.icon-coffee:before {
  content: '\f0f4'; }

/* '' */
.icon-gamepad:before {
  content: '\f11b'; }

/* '' */
.icon-down:before {
  content: '\f175'; }

/* '' */
.icon-taxi:before {
  content: '\f1ba'; }

/* '' */
.icon-sliders:before {
  content: '\f1de'; }

/* '' */
.icon-percent:before {
  content: '\f295'; }

/* '' */
.icon-chart-bar:before {
  content: '\f526'; }

/* '' */
.icon-down:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

html {
  font-size: 10px; }

body {
  font-size: 1.5rem;
  background-color: #FCFBFC;
  font-family: "Regular";
  margin: 0; }

html, body {
  height: 100%; }

main {
  border-radius: 1rem;
  color: #777777;
  display: grid;
  grid-template-columns: repeat(2, minmax(28rem, 1fr));
  grid-gap: 3rem 2rem;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: calc(100% - 2 * 3rem);
  padding: 3rem;
  max-width: 144rem; }
  @media (max-width: 768.98px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, minmax(53rem, 60rem)); } }
  @media (max-width: 575.98px) {
    main {
      padding: 1rem;
      margin: 0; } }

ul {
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: unset;
          padding-inline-start: unset; }

h3, h4 {
  font-family: "Semibold";
  font-weight: unset;
  margin: 0; }

* {
  -webkit-margin-before: unset;
          margin-block-start: unset;
  -webkit-margin-after: unset;
          margin-block-end: unset; }

.font-medium {
  font-family: "Semibold"; }

.link-nodeco {
  color: inherit;
  text-decoration: none; }
  .link-nodeco:hover, .link-nodeco:active {
    color: inherit;
    text-decoration: none; }

.bg-green {
  background-color: #66CE7D; }
  .bg-green i {
    color: white !important;
    opacity: 1 !important; }

.text-green {
  color: #66CE7D; }

.home {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding: 1.5rem 0; }
  .home .user__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem; }
    .home .user__info img {
      border-radius: 1rem;
      box-shadow: 0px 6px 8px 0px rgba(119, 119, 119, 0.4) inset;
      width: 6rem;
      height: auto; }
    .home .user__info--balance {
      margin: 0 1.5rem; }
    .home .user__info--wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
    .home .user__info i {
      border: 1px solid rgba(97, 100, 108, 0.1);
      border-radius: 1rem;
      padding: .5rem; }
  .home .user__progress {
    background-color: #EFEFEF;
    border-radius: 1rem;
    height: 5px;
    width: 100%;
    position: relative; }
    .home .user__progress .completed {
      background-color: #66CE7D;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 2; }
  .home .user__balance {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 1.5rem 0 1rem 0; }
    .home .user__balance li {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      margin-bottom: .5rem;
      width: 100%; }
  .home .user__reminder {
    border: 1px solid rgba(97, 100, 108, 0.1);
    font-size: 1.4rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 2rem; }
    .home .user__reminder i {
      opacity: .5;
      margin-left: 1rem; }
  .home .categories {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    margin: 2rem 0;
    max-width: 28rem; }
    .home .categories .category {
      cursor: pointer;
      margin: 1rem .75rem;
      text-align: center; }
      .home .categories .category:hover .category__icon {
        -webkit-transform: translateY(-0.25rem);
                transform: translateY(-0.25rem); }
      .home .categories .category__icon {
        border-radius: 1rem;
        color: white;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        font-size: 2.3rem;
        width: 5rem;
        height: 5rem;
        margin-bottom: .5rem;
        -webkit-transition: all .5s;
        transition: all .5s; }
        .home .categories .category__icon--mobile {
          background-color: #7292FF;
          box-shadow: 0px 4px 8px 0px rgba(114, 146, 255, 0.5); }
        .home .categories .category__icon--charity {
          background-color: #FF727B;
          box-shadow: 0px 4px 8px 0px rgba(255, 114, 123, 0.5); }
        .home .categories .category__icon--car {
          background-color: #61646C;
          box-shadow: 0px 4px 8px 0px rgba(97, 100, 108, 0.5); }
        .home .categories .category__icon--game {
          background-color: #F7AC3D;
          box-shadow: 0px 4px 8px 0px rgba(247, 172, 61, 0.5); }
        .home .categories .category__icon--deposit {
          background-color: #7BD3CE;
          box-shadow: 0px 4px 8px 0px rgba(123, 211, 206, 0.5); }
        .home .categories .category__icon--fines {
          background-color: #7D72C3;
          box-shadow: 0px 4px 8px 0px rgba(125, 114, 195, 0.5); }
        .home .categories .category__icon--utilities {
          background-color: #66CE7D;
          box-shadow: 0px 4px 8px 0px rgba(102, 206, 125, 0.5); }
        .home .categories .category__icon--add {
          border: 1px solid rgba(97, 100, 108, 0.1);
          color: #777777; }
      .home .categories .category small {
        font-size: 1.4rem; }
  .home .shortcut {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px 0px rgba(97, 100, 108, 0.1);
    padding: .8rem; }
    .home .shortcut__item {
      border-radius: 0.5rem;
      color: #777777;
      font-size: 2rem;
      padding: .8rem 0;
      margin: 0 .1rem;
      text-align: center;
      -webkit-transition: all .5s;
      transition: all .5s; }
      .home .shortcut__item:hover, .home .shortcut__item.active {
        background-color: #F2F3F7;
        color: rgba(216, 0, 14, 0.5); }
    .home .shortcut__link {
      padding: .5rem .8rem; }

.cardmenu {
  background-color: #F2F3F7;
  border-radius: 1rem;
  overflow: hidden; }

.card {
  background-color: #F2F3F7;
  display: grid;
  grid-template-rows: 28rem 1fr;
  position: relative; }
  .card__header {
    margin: 3rem auto;
    max-width: 28rem;
    position: relative; }
    .card__header img {
      border-radius: 1.5rem;
      box-shadow: 0px 5px 15px 0px rgba(97, 100, 108, 0.5);
      width: 100%;
      height: auto; }
    .card__header .card-progress {
      background-color: #e2e2e2;
      border-radius: 1rem;
      height: 5px;
      width: 98%;
      margin: 1.5rem auto 1rem auto;
      position: relative; }
      .card__header .card-progress .completed {
        background-color: #66CE7D;
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 2; }
    .card__header p {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between; }
  .card__body {
    height: calc(100vh - 28rem - 6rem - 6rem);
    overflow: hidden;
    padding: 2rem; }
  .card::after {
    content: "";
    background-color: inherit;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    height: 2rem;
    width: 90%;
    position: absolute;
    bottom: 1.2rem;
    left: 1rem;
    z-index: 3; }

.history {
  margin: 0 auto;
  max-width: 36rem; }
  .history__header {
    color: #61646C;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .history__header a {
      border: 1px solid rgba(97, 100, 108, 0.1);
      border-radius: 1rem;
      padding: .75rem 1.5rem; }
  .history__month {
    margin-bottom: 2rem; }
    .history__month h4 {
      margin-bottom: 1rem; }

.record {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 1rem 0; }
  .record__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-align: start;
            align-items: flex-start; }
  .record__icon {
    border: 1px solid rgba(97, 100, 108, 0.1);
    border-radius: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 3.5rem;
    height: 3.5rem; }
    .record__icon i {
      font-size: 1.6rem;
      opacity: .5; }
  .record__description {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 0 .8rem; }
    .record__description span {
      margin-bottom: .2rem; }
  .record__time {
    width: 3rem; }
  .record__amount {
    margin-left: 1rem;
    width: 6rem; }
  .record__description, .record__time {
    font-size: 1.4rem; }
  .record__time, .record__amount {
    text-align: right; }

.swiper-container--cardmenu {
  height: 100%; }
  .swiper-container--cardmenu .swiper-wrapper {
    height: 100%; }
